.nombre {
    width: 50px;
    padding : 2px;
    padding-bottom: 3em;
    border: 1px solid black;
    vertical-align: center;
    margin: 0.5rem;

}
.nombres
{
    display: flex;
    flex-wrap: wrap;
}

.cache {
    visibility: hidden;
}

.erreur {
    color: red;
    border: 1px solid red;
    box-sizing: content-box;
}

.success {
    color: #009527;
    background-color : #a9e9aa;
}
